.input-msg-write {
    margin-top: 10px;
}

.input-msg-write textarea {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    resize: none;
    padding: 5px 10px;
    border: medium none;
    border: 2px solid #c4c4c4;
    border-radius: 0.35rem;
    color: #4c4c4c;
    font-size: 15px;
    min-height: 48px;
    width: 90%;
}

.type-msg {
    border-top: 1px solid #c4c4c4;
    position: relative;
}
.msg-send-btn {
    background: #05728f none repeat scroll 0 0;
    border: medium none;
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    font-size: 17px;
    height: 33px;
    position: absolute;
    right: 11px;
    top: 23px;
    width: 33px;
}


