
.incoming-msg-img {
    display: inline-block;
    width: 6%;
}
.received-msg {
    display: inline-block;
    padding: 0 0 0 10px;
    vertical-align: top;
    width: 92%;
}
.received-withd-msg p {
    background: #ebebeb none repeat scroll 0 0;
    border-radius: 3px;
    color: #646464;
    font-size: 14px;
    margin: 0;
    padding: 5px 10px 5px 12px;
    width: 100%;
}
.time-date {
    color: #747474;
    display: block;
    font-size: 12px;
    line-height: 1.3rem;
    margin-bottom: 12px;
}
.received-withd-msg {
    width: 50%;
}

.msg-info {
    display: flex;
    justify-content: space-between;
}

.msg-likes {
    width: 7%;
    font-size: 0.9rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

